html {
    height: 100%;
    width: 100%;
}
.guest-info {
    display:flex;
    color: blue;
    font-family: serif;
}
.guest-info div {
    width: 60%;
}
.guest-info div#gurst-info-pict{
    width: 40%;
}
.guest-info img {
    width: 80%;
}
.guest-info h4{
    text-shadow:
        -1px -1px 1px #aaa,
        0px 4px 1px rgba(0, 0, 0, 0.2),
        4px 4px 5px rgba(0, 0, 0, 0.4),
        0px 0px 7px rgba(0, 0, 0, 0.1);
}
