.container-demo{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
}
.container-agllogo{
    margin: 0 0;
    border-style: outset;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 2px 2px 2px 2px;
    border-color: rgb(200, 255, 200);
    background-color: white;
}
.img-agllogo{
    max-width: 100%;
    height: auto;
}
.container-ivi{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.container-allitem{
    max-width: 100%;
    margin: auto auto;
    border-style: outset;
    border-top-left-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 30px;
    border-width: 4px 4px 4px 4px;
    border-color: rgb(200, 255, 200);
    background-color:  rgb(250, 250, 250);
}
.container-item{
    width: 18%;
    margin: auto auto;
    border-style: outset;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border-width: 4px 4px 4px 4px;
    border-color: rgb(200, 255, 200);
    background-color: white;
}
.container-item-box{
    display: flex;
    flex-direction: column;
    margin: auto auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.container-item-img{
    max-width: 100%;
    margin: 0% 0% 0% 3%;
    height: auto;
    object-fit: scale-down;
}
.container-item-txt{
    max-width: 100%;
    margin: 8% 0% 0% 4%;
    height: auto;
    vertical-align: middle;
}
.container-control{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.container-bomb{
    width: 18%;
    margin: auto auto;
    border-style: outset;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-width: 8px 8px 8px 8px;
    border-color: rgb(255, 0, 0);
    background-color: rgb(255, 100, 100);
}
.ic-arch{
    width: 50%;
    height: auto;
}
.cpu-usage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.cpu-usage-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: grey;
}
::-webkit-progress-bar {
    background-color: grey;
}
::-moz-progress-bar {
    background-color: grey;
}
::-webkit-progress-value {
    background-color: red;
}