.container-ivi{
    display: flex;
    justify-content: space-around;
    text-align: center;
/*
    border: thin solid rgb(220, 255, 220);
    border-width: 1px 4px 4px 1px;
*/
}
.container-control{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.container-item{
    width: 18%;
    margin: auto auto;
}
.container-item-img{
}
.container-item-img img{
    display: block;
    height: 18%;
    object-fit: cover;
    width: 100%;
}
.ic-arch{
    width: 50%;
    height: auto;
}
